<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.tut.dao.TutSurveyDao">
	
	<!-- 설문조사 결과 -->
	<select id="surveyResult" parameterType = "java.util.Map" resultType="kr.happyjob.study.tut.model.TutSurveyModel">
		select      sl.servey_no
      		, sl.serveyitem_queno
      		, sum(case when sl.num = 1 then sl.cnt else 0 end) as answer1
    		  , sum(case when sl.num = 2 then sl.cnt else 0 end) as answer2
    		  , sum(case when sl.num = 3 then sl.cnt else 0 end) as answer3
    		  , sum(case when sl.num = 4 then sl.cnt else 0 end) as answer4
    		  , sum(case when sl.num = 5 then sl.cnt else 0 end) as answer5
    		  , sl.serveyitem_question
          , sl.loginID
          , sl.lecture_no
          , sl.lecture_seq
          , dc.detail_name as name
  		from (   
         		 select ts.servey_no
                ,ts.serveyitem_queno 
                ,ts.serveyitem_question
                ,ts.num
                ,ifnull(ll.loginID,0) as loginID
                ,ifnull(ll.lecture_no,0) as lecture_no
                ,ifnull(ll.lecture_seq,0) as lecture_seq
                ,ifnull(ll.cnt,0) as cnt
            from ( 
                    select ts.servey_no
                          ,ts.serveyitem_queno
                          ,ts.serveyitem_question
                          ,ll.num
                     from tb_serveyitem ts ,
                         (  select 1 as num
                            union 
                            select 2 as num
                            union 
                            select 3 as num
                            union 
                            select 4 as num
                            union 
                            select 5 as num
                          ) ll
                  ) ts
                  left outer join ( 
                                    select servey_no
                                          ,serveyitem_queno
                                          ,servey_answer
                                          ,count(*) as cnt
                                          ,lc.loginID
                                          ,lc.lecture_no
                                          ,lc.lecture_seq
                                      from tb_servey se
                                        inner join tb_lecture lc on lc.lecture_seq = se.lecture_seq
                                        
                                      where lc.loginID = 'teacher'
                                     group by se.servey_no, se.serveyitem_queno, se.servey_answer, lc.lecture_seq
                                 ) ll on ll.serveyitem_queno  = ts.serveyitem_queno and ll.servey_no = ts.servey_no and ll.servey_answer = ts.num  
       ) sl inner join tb_detail_code dc on dc.group_code = 'lecture_no' and sl.lecture_no = dc.detail_code
       where sl.loginID = 'teacher'
		group by sl.servey_no
        		,sl.serveyitem_queno
            ,sl.lecture_seq
        order by sl.serveyitem_queno 
             , sl.lecture_Seq     
		
	</select>
</mapper>